@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #1c1c1c;
    margin: 10;
    
}
*{
    font-family: "Roboto", sans-serif;
}
p, q{
    color: #ffffff;
    text-align: center;
}
h1, h2{
    color: #f5b32f;
    text-align: center;

}
.navbar{
    text-align: center;
    background-color: #f5b32f;
    font-size: 200%;
}
.centerimg{
    display: flex;
    justify-content: center;
    
}
.textwrap{
    display: flex;
    justify-content: center;
    margin: 30px;
   
}
.quote1{
    display:flex;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
    gap: 50px;
}